test-python/langchain/my_config.py
.env
.venv
.DS_Store
/temp.pdf
__pycache__
salary.csv
salary.xlsx
vllm-output.log
nohup.out
models
saves
09_fine-turnning/llamafactory/output
access.log
error.log
# data

09_fine-turnning/axolotl/scripts/axolotl.tar
webui.db

11_docker-fastgpt/data/mongodb
11_docker-fastgpt/data/mysql
11_docker-fastgpt/data/pg
09_fine-turnning/axolotl/data/output
11_docker-fastgpt/data/one-api/logs
10_docker/nginx-webui/docker-data/webui/webui.db
11_docker-fastgpt/data/one-api/
12_autogen/01_test/sources/group_chat
unsloth_compiled_cache
wandb
/outputs
09_fine-turnning/unsloth/gsm8k_grpo/outputs
/.cache
.gitignore
14_medical_consultation_system/data/04_neo4j/db
output
last_run_prepared