test-python/langchain/my_config.py
.env
.venv
.DS_Store
/temp.pdf
__pycache__
salary.csv
salary.xlsx
vllm-output.log
nohup.out
models
saves
fine-turnning/llamafactory/output
access.log
error.log
# data

fine-turnning/axolotl/scripts/axolotl.tar
webui.db

docker-fastgpt/data/mongodb
docker-fastgpt/data/mysql
docker-fastgpt/data/pg
fine-turnning/axolotl/data/output
docker-fastgpt/data/one-api/logs
docker/nginx-webui/docker-data/webui/webui.db
docker-fastgpt/data/one-api/one-api.db
12_autogen/01_test/sources/group_chat
unsloth_compiled_cache
wandb
/outputs
fine-turnning/unsloth/gsm8k_grpo/outputs