langchain
openai
langchain-openai
python-dotenv
numexpr
pypdf
beautifulsoup4
chromadb
lark
faiss-cpu
pandas
langchainhub
wikipedia
crewai
# crewai[tool]
torch
transformers
pillow
requests-file
google-search-results
streamlit
matplotlib
datasets
transformers
peft
torchtext
scikit-learn
xlrd
openpyxl